@import "vars";
@import "mixins";
* {
    box-sizing: border-box;
}
.wrap {
    max-width: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lexend", "Noto Sans KR";
    h1 {
        font-size: 32px;
        font-weight: 500;
        margin-top: 50px;
    }
    .btns {
        display: flex;
        margin-top: 50px;
        label {
            margin: 0 10px;
            input {
                display: none;
            }
            input:checked ~ span::after {
                background-color: darkslategray;
                border: none;
                content: "";
                color: $white-color;
                // @include longShadow(darken(darkslategray, 10), right, 10);
            }
            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                user-select: none;
                position: relative;
                margin: 0 20px;
                color: #fff;
                font-size: 24px;
                &::after {
                    content: "";
                    @include flexCenter();
                    overflow: hidden;
                    width: 50px;
                    height: 50px;
                    border: 2px solid $gray-color;
                    border-radius: 50%;
                    box-sizing: border-box;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #000;
                    z-index: -1;
                }
            }
        }
    }
}
#lottoPaper {
    padding: 30px;
    height: 380px;
    margin: 50px auto;
    border: 5px solid darkslategray;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        margin: 5px 0;
        li {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            margin: 0 5px;
            overflow: hidden;
            font-weight: 500;
            font-size: 18px;
            &.yellow {
                background-color: gold;
                color: #000;
                @include longShadow(darken(gold, 10), right, 30);
            }
            &.blue {
                background-color: blue;
                @include longShadow(darken(blue, 10), right, 30);
            }
            &.red {
                background-color: red;
                @include longShadow(darken(red, 10), right, 30);
            }
            &.black {
                background-color: rgb(41, 40, 40);
                @include longShadow(darken(rgb(32, 29, 29), 10), right, 30);
            }
            &.green {
                background-color: green;
                @include longShadow(darken(green, 10), right, 30);
            }
        }
    }
}
